# Ignore everything by default
*

# Allow directories so we can find files inside them
!*/

# Allow VHDL source files
!*.vhd
!*.vhdl

# Allow PNG images
!*.png

# Allow Git files and documentation
!.gitignore
!README.md
!readme.md
